<style>
#menu
{
background-color:#00FF00;
float:left;
text-align:left;
width:100%;

}
ul 
{
float:left;
list-style-type:none;
}
#sub
{
margin-left:470px;

}




#ch
{
margin-right:5px;
background-color:#CCFF66;

}

#div11
{
background-color:#66FF99;
text-align:right;
border-left:10px;
margin-left:20px;
}
#div1
{
padding:50px;
padding-left:20px;
}

</style>





  <style>

ul { font-family: Arial, Verdana; font-size: 14px; margin: 0; padding: 0; list-style: none; } ul li { display: block; position: relative; float: left; } li ul { display: none; } ul li a { display: block; text-decoration: none; color: #ffffff; border-top: 1px solid #ffffff; padding: 5px 15px 5px 15px; background: #1e7c9a; margin-left: 1px; white-space: nowrap; } ul li a:hover { background: #3b3b3b; } li:hover ul { display: block; position: absolute; } li:hover li { float: none; font-size: 11px; } li:hover a { background: #3b3b3b; } li:hover li a:hover { background: #1e7c9a; }

ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
	
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}
 h1 {
	background-color:#FF0000;
 left:-20px;
 }
#list
{
float:left;
}






#ch
{
margin-right:5px;
background-color:#CCFF66;

}

#fix
{
background-color:#66FF99;
text-align:right;
border-left:10;
float:left;
display:block;
height:50px;
width:50px;
}
#category
{
background-color:#99FF33;

	
	
}	

 </style>